<div class="container mt-5">
  <div class="row">
    <div class="col-md-4">
      <img width="400px" src="./assets/images/plants.jpg" alt="" />
    </div>
    <div class="p col-md-8">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde hic quaerat
      exercitationem vero magnam dolore voluptatem cupiditate sequi sint
      possimus delectus sapiente quisquam laboriosam debitis, cum autem iusto
      aliquid assumenda? Sunt beatae praesentium, optio illum numquam earum
      provident deserunt minima nihil dolorum fugiat saepe, repellat ad
      molestias excepturi labore dolor ducimus error doloremque asperiores
      voluptatem reiciendis necessitatibus a quia? Quam! Impedit, accusantium
      reprehenderit.
    </div>
  </div>
  <div class="row mt-5">
    <div class="p col-md-8">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde hic quaerat
      exercitationem vero magnam dolore voluptatem cupiditate sequi sint
      possimus delectus sapiente quisquam laboriosam debitis, cum autem iusto
      aliquid assumenda? Sunt beatae praesentium, optio illum numquam earum
      provident deserunt minima nihil dolorum fugiat saepe, repellat ad
      molestias excepturi labore dolor ducimus error doloremque asperiores
      voluptatem reiciendis necessitatibus a quia? Quam! Impedit, accusantium
      reprehenderit.
    </div>
    <div class="col-md-4">
      <img width="400px" src="./assets/images/coffee.jpg" alt="" />
    </div>
  </div>
</div>
