<div>
  <table class="table">
    <thead>
      <tr>
        <th>#</th>
        <th>Product</th>
        <th>Price</th>
      </tr>
    </thead>
    <tbody>
      @for(product of cartItems; track product; let i = $index){
      <tr>
        <th>{{ i + 1 }}</th>
        <td>
          <img height="50px" src="{{ product.image }}" alt="" />
          {{ product.name }}
        </td>
        <td>{{ product.price }}</td>
      </tr>
      }
    </tbody>
  </table>
  <table class="table">
    <tbody>
      <tr>
        <th>Total:</th>
        <td>€ {{ total }}</td>
      </tr>
      <tr>
        <th>Service fee (10%):</th>
        <td>€ {{ serviceFee }}</td>
      </tr>
      <tr>
        <th>New Total:</th>
        <td>€ {{ newTotal }}</td>
      </tr>
      <tr>
        <th>Discount (15%):</th>
        <td>€ {{ discount }}</td>
      </tr>
      <tr>
        <th><h3>Final Total:</h3></th>
        <td>
          <h3>€ {{ finalTotal }}</h3>
        </td>
      </tr>
    </tbody>
  </table>
</div>
