.hero-section {
  height: 70vh;
  background-size: cover;
  background-image: url("../../assets/images/flowers.jpg");
  background-position: center;
  opacity: 0.83;
  color: #f33d00;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hero-text {
  font-size: 2.9rem;
  font-weight: bold;
  margin-bottom: 20px;
  text-shadow: 2px 2px 4px rgba(255, 255, 255, 0.6);
}

.button {
  font-size: 1.2rem;
  font-weight: bold;
  text-transform: uppercase;
  transition: background-color 0.3s ease;
}

.button:hover {
  background-color: #d74e43;
}

.main {
  font-family: "Nothing You Could Do", cursive;
  width: 80%;
  text-align: center;
  font-size: 60px;
  margin: auto;
  padding: 50px 0px;
}
